<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lab4.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98EC53D41E41E1300047AAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98EC53EA1E41E1310047AAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98EC53F51E41E1310047AAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
